.contacts {
  padding-top: 125px;
  padding-bottom: 125px;
  color: #fff;
  background-color: #464646;
  background-image: url(../img/bg-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  .title {
    margin-bottom: 20px;
  }
  
  .btn-center {
    margin-top: 20px;
  }
}

.contacts__list {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__item {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
