.next {
  padding-top: 162px;
  padding-bottom: 148px;
}

.next__list {
  margin-top: 105px;
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.next__item {
  width: 30%;
  min-height: 305px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.next__img {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next__title {
  max-width: 195px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: -0.05em;
}
