.subscribe {
  min-height: 460px;
  padding-top: 140px;
  color: #fff;
  background-color: #006090;
  background-image: url(../img/bg-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  .title {
    margin-bottom: 35px;
  }
}

.subscribe__btn {
  width: 241px;
  color: #0497f4;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  
  &::after {
    display: none;
  }
  &:hover,
  &:active {
    opacity: 1;
    text-decoration: underline;
  }
}
